@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,1000,2000,3000,4000,5000,6000,7000,8000,9001,1001,2001,3001,5001,6001,7001,8001,900&display=swap')

body
  margin: 0
  font-family: 'Montserrat', sans-serif
  background-color: #f5f5f5
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.container 
  margin-top: 7vh